body {
    font-family: Arial, sans-serif;
    background-color: #5d4a3c; /* Updated */
    color: #e4c6a0; /* Updated */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e4c6a0; /* Updated */
}

.quest-list {
    background-color: #ad6b37; /* Updated */
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 70%;
}

.quest-item {
    background-color: #e4c6a0; /* Updated */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    color: #5d4a3c; /* Updated */
}

button {
    padding: 10px 20px;
    background-color: #ecb992; /* Updated */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #5d4a3c; /* Updated */
}

button:hover {
    background-color: #e4c6a0; /* Updated */
    color: #5d4a3c; /* Updated */
}

/* Remove list dots */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
